* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 1rem;
}

div#pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 2rem;
    /* width: 100%; */
}

div#pages > div {
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.selected {
    border: 1px black solid;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 1rem;
}

table, th, tr, td {
    border-bottom: 1px solid black;
    padding: 1rem;
    text-align: left;
}

th {
    background-color: dodgerblue;
    color: white;
}

td {
    width: 25%;
}

